*{
  border: none;
  padding: none;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}



h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
}

.taglines{
  font-size: 1.3rem;
  font-weight: 550;
  color: navy;
  width: 350px;
  height: 150px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1.4rem;
}

.taglines div{
  padding: 1rem;
  text-align: center;
}

#mainTitle{
  width: 70%;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

#subPara{
  width: 50%;
  padding-top: 1.3rem;
}

#ctaButtons{
  width: 70%;
  margin-top: 2.4rem;
}

#ctaButtons button{
  width: 9rem;
  padding: 1rem;
  margin: 0.6rem;
}

.video{
  margin-top: 9rem;
  background: #ABACB8;
  width: 300px;
  height: 180px;
  margin: 2rem;
  padding: 30px;
}

.video i{
  margin: auto;
  color: blue;
  font-size: 60px;
  position: absolute;
  padding-top: 20px;
  padding-left: 90px;
  
}

.blue{
  background: navy;
  color: white;
  padding: 27px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.blue p{
  color: #C2C2C2;
}

.aboutCta{
  padding-top: 30px;
  margin: none;
  display: grid;
}
.aboutCta button{
  padding: 0.8rem;
  margin: 0.8rem;
}

.white{
  padding: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.white .row{
  padding-top: 40px;
}

.white .col{
  margin: 4px;
}

.white .col .card-title{
  font-weight: 800;
  color: navy;
}

.white .col .card{
  border: none;
  background: #E8F3FF;
}

.services{
  max-width: 30rem;
}

.services .card-body{
 max-width: 30rem;
 max-height: 30rem;
}

.process{
  padding: 2rem;
}

.process .col{
  border: none;
  background: #E8F3FF;
  padding: 1rem;
  margin: 1rem;
}

.process .col .card{
  background: ghostwhite;
  max-height: 39rem;
  min-width: 40px;
  padding: none;
}
.process .col .card img{
  height: 12rem;
  width: 12rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.process .col .card p{
  font-size: 1rem;
  color: grey;
}

.company .col{
  color: black;
  background: ghostwhite;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.company img{
  padding: 1.3rem;
  max-height: 20rem;
  max-width: 20rem;
}


.company {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.reviews{
  background: ghostwhite;
  padding: 1.3rem;
}

.reviews .card{
  background: ghostwhite;
  border: none;
}
.reviews .card .card-img-top{
  width: 5rem;
  height: 5rem;
}

.reviews .card .card-footer{
  background: ghostwhite;
}

.contact .card{
  background: ghostwhite;
}
.contact form{
  border: none;
  padding: 10px;
}

.contact input{
  background: ghostwhite;
  padding: none;
}

input .btn{
  background: dodgerblue;
  color: white;
}

footer{
  padding-top: 3rem;
  background: blue;
  color: white;
}

footer a{
  color: skyblue;
}