*{
  border: none;
  padding: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
  transition: opacity 1.5s ease-out;
}


h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', sans-serif;
}

html{
  overflow-x: hidden !important;
}

#mainTitle{
  max-width: 700px;
  font-weight: 800;
  letter-spacing: 0.1rem;
  overflow-wrap: break-word;
}

#subPara{
  max-width: 500px;
}

#ctaButtons{
  width: 70%;
  margin-top: 2.4rem;
}

#ctaButtons button{
  width: 9rem;
  padding: 1rem;
  margin: 0.6rem;
}


#ctaAbout{
  width: 70%;
  margin-top: 2.4rem;
}

#ctaAbout button{
  width: 9rem;
  padding: 1rem;
  margin: 0.6rem;
}



.navy{
  color: navy;
}

.ocean{
  background: linear-gradient(blue, darkblue);
  color: white;
}

.ocean #thumbnail{
  margin: 2rem;
  max-width: 400px;
}

.blue{
  background: linear-gradient(darkblue, navy);
  color: white;
  padding: 27px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.blue p{
  color: #C2C2C2;
}

.aboutCta{
  padding-top: 30px;
  margin: none;
  display: grid;
}
.aboutCta button{
  padding: 0.8rem;
  margin: 0.8rem;
}

.white{
  padding: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.white .row{
  padding-top: 40px;
}

.white .col{
  margin: 4px;
}

.white .col .card-title{
  font-weight: 800;
  color: navy;
}
.white .col .card-title {
  unicode-bidi: bidi-override;
  direction: rtl;
}

.white .col .card-title::first-letter {
  color: dodgerblue;
}

.white .col .card{
  border: none;
  background: #E8F3FF;
}



.process{
  padding: 2rem;
}
.services{
  padding: 2rem;
}

.process .col{
  border: none;
  border-radius: 6px;
  background-image: linear-gradient(19deg, darkblue 0%, #B721FF 100%);
  padding: 1rem;
  margin: 1rem;
}

.process .col .card{
  background: ghostwhite;
  max-height: 39rem;
  min-width: 40px;
  padding: none;
}
.process .col .card img{
  height: 12rem;
  width: 12rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.process .col .card p{
  font-size: 1rem;
  color: grey;
  margin-bottom: 1rem;
}
/* */

.services .col{
  border: none;
  border-radius: 6px;
  background-image: linear-gradient(19deg, darkblue 0%, #B721FF 100%);
  padding: 1rem;
  margin: 1rem;
}

.services .col .card{
  border-radius: 4px;
  background: ghostwhite;
  min-height: 39rem;
  min-width: 40px;
  padding: none;

}
.services .col .card img{
  height: 12rem;
  width: 12rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.services .col .card p{
  font-size: 1rem;
  color: grey;
}

.services .col .card .card-body{
  border: none;
  border-radius: 20px;
  background: white;
  height: auto;
}

.services .col .card .card-body .card-title{
  color: navy;
}

.company .col{
  color: black;
  background: ghostwhite;
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.company img{
  padding: 1.3rem;
}


.company {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.about .col{
  color: white;
  /*background: ghostwhite;*/
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about img{
  padding: 1.3rem;
}


.about {
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  background: linear-gradient(blue, darkblue)
}


.companyImg{
  width: 10rem;
  height: 10rem;
  background: red;
}

.reviews{
  background: ghostwhite;
  padding: 1.3rem;
}

.reviews .card{
  background: ghostwhite;
  border: none;
}
.reviews .card .card-img-top{
  width: 5rem;
  height: 5rem;
}

.reviews .card .card-footer{
  background: ghostwhite;
}

.contact .card{
  background: ghostwhite;
}
.contact form{
  border: none;
  padding: 10px;
}

.contact input{
  background: ghostwhite;
  padding: none;
}

input .btn{
  background: dodgerblue;
  color: white;
}

footer{
  background: linear-gradient(blue, darkblue);
  color: white;
}

footer a{
  color: whitesmoke;
}

.color.card {
  padding: 1.3rem;
    --shadow-color: skyblue;
    margin: 1.3rem;
  }
  .card {
    filter: drop-shadow(
      1px 2px 8px var(--shadow-color)
    );
}


@media only screen and (max-width: 600px) {
  .company .row {
    display: flexbox;
  }
  .company img{
    max-width: 14rem !important;
    max-height: 14rem;
  }
  
  .about .row {
    display: flexbox;
  }
  .about img{
    max-width: 14rem !important;
    max-height: 14rem;
  }

 
}


@media only screen and (min-width: 600px) {
  .stats .card{
    height: 12rem;
  }
  .stats .card .card-body{
    padding-top: 4rem;
  }
  
  .services .row .col{
    
  }
  
  .services .card{
    height: 16rem;
    width: 15rem;
  }
  .services .card .card-body{
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
  }
  
  .services .card .card-body p{
    font-size: 0.9rem;
  }
  
  .company .imageComp{
    padding: none;
  
}

}

/*special buttons*/

